# ignore code coverage reports
coverage

# npm stuff
node_modules

# Eclipse
.classpath
.project
.settings/
/bin

# Intellij
.idea/
*.iml
*.ims

# MAC
.DS_Store

# misc.
*.log*
/.gradle/
/build/
src/main/resources/build/
src/main/resources/node_modules/
