.monster {
	background: green;
	border-radius: 50%;
	width: $cell-size;
	height: $cell-size;
	position: relative;
	color: $off-white;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: $cell-size;
}