.delete-menu {
	position: fixed;
	visibility: hidden;
	background: #ecf0f1;
	border-radius: $menu-border-radius;
	border-top-left-radius: 0;
	z-index: 9999;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 
				0 6px 6px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	padding: 5px 10px;
	
	&:hover {
		background: $light-red;
		color: $off-white;
		
		&:before {
			border-right-color: $light-red;
		}
	}
	
	&:before {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		top: 0;
		left: -15px;
		border-bottom: 10px solid transparent;
		border-right: 15px solid #ecf0f1;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}
	
	&--show {
		visibility: visible;
		transform: translate3d(-25px, 0, 0);
		transition: visibility .3s ease-in, 
					transform .2s cubic-bezier(0.5, 1.6, 0.5, 1.6);
		
	}
}