.dungeon-builder-menu {
	position: absolute;
	width: $panel-width;
	height: 100%;
	top: 0;
	left: $panel-toggle-size + ($panel-toggle-right * 2) - $panel-width;
	background: $light-navy;
	transition: left $toggle-speed;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba($off-white, 0.5);
	}
	
	body.toggle-open & {
		left: 0;
	}
}

.dungeon-builder-menu__header {
	height: 50px;
	background: $darker-navy;
	color: $off-white;
	text-align: center;
	line-height: 50px;
	font-size: larger;
}

.dungeon-builder-menu__toggle {
	position: relative;
	float: right;
	top: 12.5px;
	right: 10px;
	height: $panel-toggle-size;
	width: $panel-toggle-size;
	border-radius: 50%;
	background: $off-white;
	text-align: center;
	cursor: pointer;
	transition: transform $toggle-speed .4s;
	
	&:before, &:after {
		content: "";
		position: absolute;
		height: 45%;
		width: 45%;
		border: 5px solid $darker-navy;
		transition: transform $toggle-speed .4s,
					border-color $toggle-speed .4s;
	}
	
	&:before {
		top: 16%;
		left: 40%;
		border-top: 0;
		border-right: 0;
	}
	
	&:after {
		top: 41%;
		left: 15%;
		border-bottom: 0;
		border-left: 0;
	}
	
	body.toggle-open & {
		transform: rotate(135deg);
		&:before {
			transform: translate(-55%, 55%) rotate(180deg);
			border-color: $light-red;
		}
		&:after {
			transform: translate(55%, -55%) rotate(180deg);
			border-color: $light-red;
		}
	}
}

.dungeon-builder-menu__body {
	padding: 15px 0px;
	height: calc(100% - 50px);
}

.menu-select {
	padding: 6px 12px;
    width: 100%;
    background: $darker-navy;
    color: $off-white;
    border: none;
    margin-bottom: 15px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: pointer;
    
    &--disabled {
    	cursor: not-allowed;
    }
}

.export-btn {
	position: absolute;
	width: 100%;
	background: $darker-navy;
	padding: 6px 12px;
	height: 34px;
	color: $off-white;
	border: none;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}