.item {
	background: red;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: relative;
	color: $off-white;
	border: 2px solid $off-white;
	text-align: center;
	font-weight: bold;
	line-height: 21px;
}